<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--property name="LOGS" value="./logs" /-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
		
		<property name="LOG_FILE" value="${LOGS}/playful-edu.log"/>   
		<property name="LOGBACK_ROLLINGPOLICY_FILE_NAME_PATTERN" value="${LOGS}/archived/playful-edu-%d{yyyy-MM-dd}.%i.log"/> 	
    
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
	
	
	<!--appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>INFO</level>
    </filter>		
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
			</Pattern>
		</layout>
	</appender-->

	<!--appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS}/playandgo.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
		</encoder>

		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS}/archived/playandgo-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender-->

	<!-- LOG everything at INFO level -->
	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

	<!-- LOG "it.smartcommunitylab.playandgo" at DEBUG level -->
	<logger name="eu.fbk.dslab.playful.engine" level="${LOG_LEVEL}" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>

</configuration>